* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

:root {
    --green: #A9D071;
    --light-green: #DAF2A6; 
    --yellow: #EEE590; 
    --blue-green: #b5e6b3;
    --off-white: #F5F2BC;
}

::placeholder {
    color: black;
}

main {
    background-image: url("../images/plant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
img {
    height: 200px;
}

body {
    background-color: var(--off-white);
    min-height: 100vh;
    flex-direction: column;
    display:flex;
}

header { 
    background-color: var(--green);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 3em;
}

.plant-search {
    background-color: var(--light-green);
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
}

.plant-list {
    background-color: var(--yellow);
    min-height: 100vh;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5px;
}

.plant-list h3 {
    text-align: center;
}

.plant-list ul {
    padding: 25px;
    text-align: left;
} 

#egg-icon {
    text-align: right;
}

footer { 
    background-color: var(--green);
    width: 100%; 
}

footer div {  
    line-height: 1.55;
    text-align: center;
    padding: 15px;
}

.plants h3 {
    text-align: center;
    font-size: 2em;
    color: var(--yellow);
    text-shadow: 2px 2px 5px #616161 ;

}

.modal {
    width: 80%;
    height: 80%;
    border-radius: 15px;
}

.modal-content {
    background-color: var(--yellow);
}

.modal-img {
    width: 250px;
    height: 250px;
    border: 4px solid var(--green);
    border-radius: 5px;
}

.modal-content p {
    margin-top: 10px;
    padding: 5px ;
    font-weight: bold;
}

.modal-content a {
    margin: 10px;
}

.modal-footer {
    background-color: var(--yellow);
    display: flex;
    justify-content: space-around;
}

iframe {
    width: 320px;
    height: 200px;
    border: solid 4px var(--green);
    margin: 2px;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0; 
}